<div class="modal-body">
  <div class="row">
    <h6>Aggiungi pagamento</h6>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3">
      <label>Tipo pagamento</label>
      <select class="form-control" name="payment_type" ng-model id="payment-type" (change)="selectPaymentType($event)"
        [(ngModel)]="payment_type">
        <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">
          {{ paymentType.description }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3">
      <label>Importo</label>
      <input [(ngModel)]="amount" type="number" name="amount" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3">
      <label>Note</label>
      <input [(ngModel)]="note" type="text" name="note" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3">
      <button class="btn btn-warning btn-block btn-add-payment" (click)="addPaymentToPlan()">Aggiungi</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Totale terapie: <strong>{{total | number : '1.2-2'}} &euro;</strong></p>
      <p>Totale pagato: <strong>{{totalPayments | number : '1.2-2'}} &euro;</strong></p>
      <p>Totale da pagare: <strong>{{total - totalPayments | number : '1.2-2'}} &euro;</strong></p>
    </div>
  </div>
  <div class="row">
    <h6>Lista Pagamenti</h6>
  </div>
  <div class="row">
    <table *ngIf="payments.length > 0" class="table">
      <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Importo</th>
        <th scope="col">Tipo di pagamento</th>
        <th scope="col">Note</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments">
          <td>{{payment.date.date | date: 'dd-MM-yyyy'}}</td>
          <td>{{payment.amount | number : '1.2-2'}} &euro;</td>
          <td>{{payment.payment_type.description}}</td>
          <td>{{payment.note}}</td>
          <td class="text-right"><button class="btn btn-danger" (click)="deletePayment(payment)"><i class="now-ui-icons ui-1_simple-remove"></i></button></td>
        </tr>
      </tbody>
    </table>
    <h6 *ngIf="payments.length == 0">
      Nessun pagamento effettuato
    </h6>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark btn-close-dialog" (click)="closeDialog()">Chiudi</button>
</div>