<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="card">
        <div class="card-header">
          <h5 class="title" *ngIf="newMobility" class="text-center">Aggiungi Mobilità</h5>
          <h5 class="title" *ngIf="!newMobility" class="text-center">Modifica Mobilità</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <div class="form-group">
              <label for="description">Descrizione</label>
              <input type="text" class="form-control" id="description" name="description" placeholder="Descrizione"
                formControlName="description">
            </div>
            <div class="form-group">
              <label for="enabled">Abilitato</label>
              <select class="custom-select form-control" id="enabled" name="enabled" formControlName="enabled">
                <option *ngFor="let option of enabledOptions" [value]="option.id">{{option.text}}</option>
              </select>
            </div>
            <input type="hidden" formControlName="id" id="id" name="id">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>