<div class="wrapper">
    <div *ngIf="place=='Fisiocenter'">
        <div class="sidebar" data-color="fisiocenter">
            <app-sidebar [place]="place"></app-sidebar>
        </div>
    </div>
    <div *ngIf="place!='Fisiocenter'">
        <div class="sidebar" data-color="fisiocenter">
            <app-sidebar [place]="place"></app-sidebar>
        </div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>