<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <ng-container *ngIf="loading; else noLoading">
          <app-loader></app-loader>
        </ng-container>
        <ng-template #noLoading>
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h5 class="title">Fisioterapisti</h5>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-warning" [routerLink]="['/physiotherapists/new']"><i
                    class="now-ui-icons ui-1_simple-add"></i>
                  Aggiungi un fisioterapista</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive" *ngIf="physiotherapists.length > 0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Cognome</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Attivo</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let physiotherapist of physiotherapists">
                        <td scope="row">{{physiotherapist.last_name}}</td>
                        <td scope="row">{{physiotherapist.first_name}}</td>
                        <td scope="row">
                          <i *ngIf="physiotherapist.enabled" class="material-icons">check</i>
                          <i *ngIf="!physiotherapist.enabled" class="material-icons">close</i>
                        </td>
                        <td class="text-right">
                          <i class="material-icons" (click)="editPhysiotherapist(physiotherapist)">edit</i>
                          <i class="material-icons" (click)="deleteConfirmation(physiotherapist)">delete</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="physiotherapists.length == 0" class="register-empty-body">
                  <h5 class="text-center">Ancora nessuna fisioterapista registrato</h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>