<div class="modal-header">
  <h4 class="modal-title">Elimina Fisioterapista</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Si è sicuri di voler eliminare questo fisioterapista: <strong>"{{data.physiotherapist.last_name}} {{data.physiotherapist.first_name}}"</strong> ? L'operazione è irreversibile</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeDialog()">Annulla</button>
  <button type="button" class="btn btn-warning" (click)="deletePhysiotherapist()">Elimina</button>
</div>
