<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-5">
              <h5 class="title">Programmi</h5>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-warning" [routerLink]="['/programs/new']"><i class="now-ui-icons ui-1_simple-add"></i>
                Aggiungi un programma</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-11">
              <div class="table-responsive" *ngIf="programs.length > 0">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Titolo</th>
                      <th scope="col">Abilitato</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let program of programs">
                      <td scope="row">{{program.title}}</td>
                      <td scope="row">
                        <i *ngIf="program.enabled" class="material-icons">check</i>
                        <i *ngIf="!program.enabled" class="material-icons">close</i>
                      </td>
                      <td>
                        <i class="material-icons" (click)="editProgram(program)">edit</i>
                        <i class="material-icons" (click)="deleteConfirmation(program)">delete</i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="programs.length == 0" class="register-empty-body">
                <h5 class="text-center">Ancora nessuna programma registrato</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>