<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title" *ngIf="newPain" class="text-center">Aggiungi Indice di Dolore</h5>
          <h5 class="title" *ngIf="!newPain" class="text-center">Modifica Indice di Dolore</h5>
        </div>
        <div class="card-body">
          <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <div class="form-group">
              <label for="description">Descrizione</label>
              <input required type="text" class="form-control" id="description" name="description"
                placeholder="Descrizione" formControlName="description" [disabled]="loading">
              <div *ngIf="description.touched && description.dirty && description.invalid" class="alert-danger">
                Il campo descrizione è obbligatorio
              </div>
            </div>
            <div class="form-group">
              <label for="index">Indice (ordinamento)</label>
              <input required pattern="^[1-9][0-9]?$|^100" type="number" class="form-control" id="index" name="index"
                placeholder="Indice" formControlName="index" [disabled]="loading">
              <div *ngIf="index.touched && index.dirty && index.invalid">
                <div class="alert-danger" *ngIf="index.errors.required">
                  Il campo indice di ordinamento è obbligatorio
                </div>
                <div class="alert-danger" *ngIf="index.errors.pattern">
                  Il campo indice deve contenere numeri ed essere almeno 1 al massimo 99
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="enabled">Abilitato</label>
              <select required class="custom-select form-control" id="enabled" name="enabled" formControlName="enabled"
                [disabled]="loading">
                <option *ngFor="let option of enabledOptions" [value]="option.id">{{option.text}}</option>
              </select>
              <div *ngIf="enabled.touched && enabled.dirty && enabled.invalid" class="alert-danger">
                Il campo abilitato è obbligatorio
              </div>
            </div>
            <div class="form-group">
              <input type="hidden" formControlName="id" id="id" name="id">
              <button type="submit" class="btn btn-block btn-warning"
                [disabled]="form.invalid || loading">Salva</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>