<div class="modal-header">
  <h5 class="title">Elimina Indice di Dolore</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Si è sicuri di voler eliminare questo indice di dolore: <strong>"{{data.pain.description}}"</strong> ? L'operazione è irreversibile</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeDialog()">Annulla</button>
  <button type="button" class="btn btn-warning" (click)="deletePain()">Elimina</button>
</div>