<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Aggiungi Nuovo Paziente</h5>
        </div>
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="submitForm()" [formGroup]="formGroup">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="last-name">Cognome</label>
                  <input required minlength="2" type="text" class="form-control" placeholder="Cognome" name="last_name"
                    formControlName="last_name" id="last-name" value="">
                  <div *ngIf="last_name.touched && last_name.dirty && last_name.invalid">
                    <div class="alert-danger" *ngIf="last_name.errors.required">
                      Il campo cognome è obbligatorio
                    </div>
                    <div class="alert-danger" *ngIf="last_name.errors.minlength">
                      Il campo cognome deve essere di almeno {{last_name.errors.minlength.requiredLength}} caratteri
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label for="first-name">Nome</label>
                  <input required minlength="2" type="text" class="form-control" placeholder="Nome" name="first_name"
                    formControlName="first_name" id="first-name" value="">
                  <div *ngIf="first_name.touched && first_name.dirty && first_name.invalid">
                    <div class="alert-danger" *ngIf="first_name.errors.required">
                      Il campo nome è obbligatorio
                    </div>
                    <div class="alert-danger" *ngIf="first_name.errors.minlength">
                      Il campo nome deve essere di almeno {{first_name.errors.minlength.requiredLength}} caratteri
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 px-1">
                <div class="form-group">
                  <label for="tax-code">Codice Fiscale</label>
                  <input length="16" type="text" class="form-control" placeholder="Codice Fiscale" name="tax_code"
                    formControlName="tax_code" id="tax-code" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label for="birthday">Data di nascita</label>
                  <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Data di nascita"
                    formControlName="birthday">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label for="place-of-birth">Luogo di nascita</label>
                  <input minlenght="3" type="text" class="form-control" id="place-of-birth" name="place_of_birth"
                    placeholder="Luogo di nascita" formControlName="place_of_birth">
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label for="address">Indirizzo</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Indirizzo"
                    formControlName="address">
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label for="city">Città</label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="Città" formControlName="city">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label for="doctor-id">Medico</label>
                  <select class="custom-select form-control" id="doctor-id" name="doctor_id" formControlName="doctor_id">
                    <option *ngFor="let option of doctors" [value]="option.id">{{option.last_name}} {{option.first_name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label for="phone-number">Telefono</label>
                  <input required type="text" class="form-control" id="phone-number" name="phone_number" placeholder="Numero di telefono"
                    formControlName="phone_number">
                  <div *ngIf="phone_number.touched && phone_number.dirty && phone_number.invalid">
                    <div class="alert-danger" *ngIf="phone_number.errors.required">
                      Il campo telefono è obbligatorio
                    </div>
                    <div class="alert-danger" *ngIf="phone_number.errors.minlength">
                      Il campo telefono deve essere di almeno {{phone_number.errors.minlength.requiredLength}}
                      caratteri
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Indirizzo E-Mail"
                    formControlName="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 pr-1">
                <button class="btn btn-warning btn-block" [disabled]="form.invalid">Salva</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>